---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="GHOST CODE NIGHT">
	<main>
        <div class="custom">
			<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
				<defs>
					<linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
						<stop offset="0%" style="stop-color:rgb(255, 0, 0);stop-opacity:1" />
						<stop offset="100%" style="stop-color:rgb(149, 0, 255);stop-opacity:1" />
					</linearGradient>
				</defs>
				<path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill" fill="url(#gradient)"></path>
			</svg>
		</div>
		<div class="foto">
			<img id="img" src="/monster.gif" alt="monster">
			<p class="dark">Dark Evil Game</p>
		</div>
		<div class="game">
			<div class="atas">
			<marquee id="sikat" behavior="scroll" direction="left" scrollamount="30">
			 <button class="main">L</button>
			 <button class="main">E</button>
			 <button class="main">R</button>
			 <button class="main">A</button>
			 <button class="main">I</button>
			 <button class="main">N</button>
			 <button class="main">M</button>
			 <button class="main">T</button>
			 <button class="main">L</button>
			</marquee>
			<marquee id="sikat" direction="right" behavior="scroll" scrollamount="30">
			 <button class="main">E</button>
			 <button class="main">O</button>
			 <button class="main">O</button>
			 <button class="main">G</button>
			 <button class="main">L</button>
			 <button class="main">G</button>
			 <button class="main">E</button>
			</marquee>
			<marquee id="sikat" direction="left" behavior="scroll" scrollamount="50">
			 <button class="main">L</button> 
			 <button class="main">T</button>
			 <button class="main">M</button>
			 <button class="main">H</button>
			 <button class="main">L</button> 
			</marquee>
			<marquee id="sikat" direction="right" behavior="scroll" scrollamount="30">
			 <button class="main">P</button> 
			 <button class="main">P</button>
			 <button class="main">H</button>
			 <button class="main">H</button>
			</marquee>
			<marquee id="sikat" direction="left" behavior="scroll" scrollamount="30">
			 <button class="main">D</button> 
			 <button class="main">O</button>
			 <button class="main">L</button>
			 <button class="main">F</button>
			 <button class="main">E</button>
			 <button class="main">R</button>
			 <button class="main">D</button> 
			</marquee>
			<div id="bot" class="bot">
			 <img class="bott" src="/robot.gif" alt="robot">
			 <h2 class="teks">Welcome to the word guessing game in the box here the game is very difficult in need of clear accuracy and strong mentality happy playing hopefully safe in the game!, Don't be manipulated by double words!, be careful of trap traps where where!</h2>
			</div> 
			<div class="boy">
				<div class="yey">
                 <img class="boi" src="/menang.gif" alt="menang">
			     <b class="vi">victory!</b>
			     <button class="e">End</button>
				</div>
			</div>
			<marquee id="sikat" direction="right" behavior="scroll" scrollamount="50">
			 <button class="main">L</button>
			 <button class="main">Q</button>
			 <button class="main">S</button>
			 <button class="main">I</button>
			 <button class="main">N</button>
			 <button class="main">J</button>
			 <button class="main">E</button>
			 <button class="main">C</button>
			 <button class="main">T</button>
			 <button class="main">I</button>
			 <button class="main">N</button>
			 <button class="main">O</button>
			</marquee>
			<marquee id="sikat" direction="left" behavior="scroll" scrollamount="30">
			 <button class="main">O</button>
			 <button class="main">A</button>
			 <button class="main">P</button>
			 <button class="main">T</button>
			 <button class="main">L</button>
			 <button class="main">P</button>
			 <button class="main">O</button>
			</marquee>
			<marquee id="sikat" direction="right" behavior="scroll" scrollamount="20">
			 <button class="main">E</button>
			 <button class="main">S</button>
			 <button class="main">C</button>
			 <button class="main">O</button>
			 <button class="main">D</button>
			 <button class="main">V</button>
			 <button class="main">E</button>
			</marquee>
			<marquee id="sikat" direction="left" behavior="scroll" scrollamount="50">
			 <button class="main">E</button>
			 <button class="main">M</button>
			 <button class="main">R</button>
			 <button class="main">O</button>
			 <button class="main">H</button>
			 <button class="main">C</button>
			 <button class="main">E</button>
			</marquee>
			<marquee id="sikat" direction="right" behavior="scroll" scrollamount="70">
			 <button class="main">R</button>
			 <button class="main">C</button>
			 <button class="main">A</button>
			 <button class="main">K</button>
			 <button class="main">E</button>
			 <button class="main">H</button>
			 <button class="main">R</button>
			</marquee>
		    </div>
			<div class="on">
				<button class="tombol">
				 <svg fill="black" xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path d="M440-440v-400h80v400h-80Zm40 320q-74 0-139.5-28.5T226-226q-49-49-77.5-114.5T120-480q0-80 33-151t93-123l56 56q-48 40-75 97t-27 121q0 116 82 198t198 82q117 0 198.5-82T760-480q0-64-26.5-121T658-698l56-56q60 52 93 123t33 151q0 74-28.5 139.5t-77 114.5q-48.5 49-114 77.5T480-120Z"/></svg>
				</button>

				<button class="bintang">
                 <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path d="m384-294 96-74 96 74-36-122 90-64H518l-38-124-38 124H330l90 64-36 122ZM233-80l93-304L80-560h304l96-320 96 320h304L634-384l93 304-247-188L233-80Zm247-369Z"/></svg>
				</button>

				<button class="res">
                 <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path d="M160-160v-80h110l-16-14q-52-46-73-105t-21-119q0-111 66.5-197.5T400-790v84q-72 26-116 88.5T240-478q0 45 17 87.5t53 78.5l10 10v-98h80v240H160Zm400-10v-84q72-26 116-88.5T720-482q0-45-17-87.5T650-648l-10-10v98h-80v-240h240v80H690l16 14q49 49 71.5 106.5T800-482q0 111-66.5 197.5T560-170Z"/></svg>
				</button>
			</div>
			<div class="kiti">
				<div class="kata">
				    <h2 class="py">Play with Word Guessing --&gt; <span class="go">0</span></h2>
				</div>
			</div>
			<div class="container">
			 <input id="isi" class="in" type="text" placeholder="Let's Play..." >
			    <button class="tebak">
                 <svg xmlns="http://www.w3.org/2000/svg" height="39" viewBox="0 -960 960 960" width="24"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/></svg>
			    </button>
			</div>
			<footer>
				<div>
					<b class="copy">&copy; Ghost Code Night</b>
				</div>
			</footer>
		</div>
	</main>
</Layout>
<script>
document.querySelector('.e').addEventListener('click', function() {
	var hil = document.querySelector('.boy');
	hil.style.display = 'none';
	location.reload();
});
document.getElementById("isi").addEventListener("input", function() {
	chek();
	var inputno = this.value;
	this.value = inputno.replace(/[^a-zA-Z]/g, '');
});
function chek() {
	var input = document.getElementById("isi").value;
	if (input.length >= 50) {
		alert("Sorry, only 50 characters are allowed");
		document.getElementById("isi").value = "";
	}
}
let nilai = true;
const putar = document.querySelectorAll('.main');
const henti = document.querySelector('.tombol');
var cepat = document.querySelectorAll('#sikat');
var defaul = {};

henti.addEventListener('click', function() {
  if (nilai) {
    putar.forEach(button => {
     button.style.animation = 'none';
    });
    nilai = false;
  } else {
    putar.forEach(button => {
     button.style.animation = 'ton 2s linear infinite';
    });
    nilai = true;
  }
});
cepat.forEach(function(cepat) {
	defaul[cepat.id] = cepat.getAttribute('scrollamount');
});

document.querySelectorAll('.bintang').forEach(function(button) {
	button.addEventListener('click', function() {
		cepat.forEach(function(cepat) {
			if(cepat.getAttribute('scrollamount') !== '999') {
			 cepat.setAttribute('scrollamount', '999');
			} else {
				cepat.setAttribute('scrollamount', defaul[cepat.id]);
			}
		})
	})
})
window.onload = function() {
	var inputisi = document.getElementById("isi");
	var ekbutton = document.querySelector(".tebak");
	var nilais = document.querySelector(".go");
	var tampung = '';

	ekbutton.addEventListener("click", function() {
        var inputValue = inputisi.value.toLowerCase();
		if (inputValue.includes("terminal") || inputValue.includes("google") || inputValue.includes("html") || inputValue.includes("php") || inputValue.includes("folder") || inputValue.includes("sqlinjection") || inputValue.includes("laptop") || inputValue.includes("vscode") || inputValue.includes("chrome") || inputValue.includes("hacker")) {
			if (inputValue !== tampung) {
				var curet = parseInt(nilais.textContent);
				nilais.textContent = curet + 1;
				tampung = inputValue;

			    if (parseInt(nilais.textContent) >= 10) {
					document.querySelector('.boy').style.display = 'block';
				}
			}
		}

		setTimeout(function() {
			inputisi.value = '';
		}, 999);
	});

};
document.addEventListener('contextmenu', function(event) {
 event.preventDefault();
 location.reload();
});
document.querySelector('.res').addEventListener('click', function() {
    location.reload();
});
setTimeout(function() {
	var bot = document.getElementById('bot');
	bot.classList.add('hidden');
}, 5000);
document.getElementById('isi').addEventListener('input', function() {
	var inputz = document.getElementById('isi').value;
	var ekrip = encodeURIComponent(inputz);
	document.getElementById('isi').value = ekrip;
});
</script>
<style>
	.copy {
	 padding-bottom: 10px;
	 color: white;
	}
	.hidden {
	 display: none !important;
	}
	#img {
	 pointer-events: none;
	}
	.bot {
	 pointer-events: none;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 position: fixed;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 z-index: 9999; 
	 background-color: black;
	 flex-direction: column;
	 border: 5px solid rgb(149, 0, 255);
	}
	.boy {
	 z-index: 999;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
	 position: fixed;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background-color: bisque;
	 display: none;
	}
	.yey {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
	 height: 90vh;
	}
	.e {
	 background-color: bisque;
	 color: black;
	 font-weight: bold;
	 animation: none;
	 height: 40px;
	 width: 150px;
	 border: 5px solid black;
	 border-radius: 20px;
	}
	.boi {
	 pointer-events: none;
	 height: 300px;
	 width: 300px;
	}
	.vi {
	 font-size: 50px;
	 padding-bottom: 10px;
	}
	.teks {
	 color: white;
	 text-align: center;
	 background-image: linear-gradient(to top, white, rgb(149, 0, 255));
	 -webkit-background-clip: text;
	 color: transparent;
	 font-weight: bold;
	 padding-left: 20px;
	 padding-right: 20px;
	}
	.bott {
	 height: 200px;
	 width: 200px;
	}
	.custom {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
    }
	.py {
	 font-family: "Protest Guerrilla", sans-serif;
     font-weight: 400;
     font-style: normal;
	}
	.foto {
		display: flex;
		justify-content: center;
	}
	.dark {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 font-weight: bold;
	 background: linear-gradient(to right, white, rgb(149, 0, 255));
	 -webkit-background-clip: text;
	 background-clip: text;
     color: transparent;
	 font-size: 40px;
	 font-family: "Protest Guerrilla", sans-serif;
     font-weight: 400;
     font-style: normal;
	}
	.kata {
		background-color:  white;
		border-radius: 20px;
		padding: 0 10px;
	}
	.kiti {
		background-color: rgb(149, 0, 255);
		border-radius: 30px;
		margin-top: 10px;
	}
	@keyframes ton {
		from {
		 transform: rotateX(0deg);
		 color: rgb(0, 255, 255);
		}
		to {
		 transform: rotateY(360deg);
		 color: rgb(255, 145, 0);
		}
	}
	@media only screen and (max-width: 790px) {
        .foto {
		 flex-direction: column;
	    }
	}
	@media only screen and (max-width: 604px) {
		.in {
		 width: 200px;
		 
		}
        button {
		 width: 60px;
	     height: 60px;
		}
		.py {
			font-size: 17px;
		}
		.teks {
		 font-size: 10;
		}
	}
	@media only screen and (min-width: 604px) {
        .in {
		 width: 500px;
		 height: 40px;
		}
		button {
		 width: 100px;
	     height: 100px;
		}
		.py {
			font-size: 27px;
		}
		.teks {
		 font-size: 30px;
		 width: 500px;
		}
	}
	.tombol {
	 background-color: red;
	 width: 50px;
	 height: 50px;
	 border-radius: 30px;
	 animation: none;
	 animation: kedip2 3s linear infinite;
	}
	@keyframes kedip2 {
		from {
		 background-color: black;
		}
		to {
		 background-color: red;
		}
	}
	.res {
	 background-color: rgb(0, 242, 255);
	 width: 50px;
	 height: 50px;
	 border-radius: 30px;
	 animation: none;
	}
	.bintang {
	 background-color: rgb(21, 255, 0);
	 width: 50px;
	 height: 50px;
	 border-radius: 30px;
	 animation: none;
	 animation: kedip1 2s linear infinite;
	}
	@keyframes kedip1 {
		from {
		 background-color: black;
		}
		to {
		 background-color: rgb(21, 255, 0);
		}
	}
	.atas {
	 padding-top: 10px;
	}
	.game {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
	}
	button {
	 font-weight: bold;
	 animation: ton 2s linear infinite;
	}
	.main {
	 font-weight: bold;
	 animation: ton 2s linear infinite;
	}
	.tebak {
	 border-radius: 30px;
	 margin-left: 2px;
	 animation: none;
	 width: 50px;
	 height: 46px;
	}
	.container {
	 padding-top: 40px;
	 display: flex;
	 bottom: 0;
	 padding-bottom: 50px;
	}
	.in {
	 border-radius: 50px;
	 font-size: 15px;
	 font-weight: bold;
	 text-align: center;
	 text-transform: uppercase;
	}
</style>